.letter {
	// animation: fadeIn 0.3s ease-in;

	&.gray {
		color: #6b778d;
	}

	&.green {
		color: #c7c7c7;
	}

	&.red {
		color: red;
	}
}

.word {
	display: flex;
	font-size: 25px;

	animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100;
	}
}
