@use "../../../../shared/styles/" as *;

.wordsListContainer {
	width: 100%;
	height: 14.375rem;
	padding: 1.25rem;
	border-radius: 0.625rem;

	background: $fadedLigherBlue;

	box-shadow: $darkBlue 0.5625rem 0.5625rem 1.125rem;

	.wordsList {
		display: flex;
		flex-wrap: wrap;
		gap: 0.625rem;
		user-select: none;

		height: 11.875rem;
		overflow: hidden;

		justify-content: space-between;

		animation: fadeIn 0.45s ease-in;

		&::after {
			content: "";
			flex: auto;
		}
	}
}
