@use "../../../shared/styles/" as *;

.timer {
	grid-row: 2;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	width: fit-content;
	padding: 5px 45px;
	border-radius: 10px;
	margin: 0 auto;

	color: white;
	background: $darkBlue;

	font-size: 30px;
	text-align: center;

	user-select: none;
	animation: slideDown 0.45s ease-in-out;
}
