@use "../../../shared/styles/" as *;

.timerContainer {
	width: 60vw;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;

	.timer {
		grid-row: 2;

		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		width: fit-content;
		padding: 0.3125rem 2.8125rem;
		border-radius: 0.625rem;

		color: white;
		background: $darkBlue;

		font-size: 1.875rem;
		text-align: center;

		user-select: none;
		animation: slideDown 0.45s ease-in-out;
	}
}
