@use "../../../shared/styles/" as *;

.timerContainer {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .timer {
    grid-row: 2;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    padding: 0.3125rem 2.8125rem;
    border-radius: 0.625rem;

    color: white;
    background: $darkBlue;

    font-size: 1.875rem;
    text-align: center;

    animation: slideDown 0.45s ease-in-out;
    box-shadow: #17223b 0.5625rem 0.5625rem 1.125rem;
    user-select: none;
  }
}
