@use "../../../shared/styles/" as *;

.writerContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 60vw;

	margin: 0px auto;

	.wordsListContainer {
		width: 100%;
		padding: 20px;
		border-radius: 10px;

		background: $fadedLigherBlue;

		box-shadow: $darkBlue 9px 9px 18px;
	}

	.refreshButton {
		margin-top: 15px;

		color: $fadedLigherBlue;

		font-size: 1.75rem;
		font-weight: bold;

		cursor: pointer;
		transition-duration: 0.2s;

		&:hover {
			color: white;

			transform: scale(1.2);
		}
	}
}
