@use "../../../shared/styles/" as *;

.writerContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 60vw;

	margin: 0rem auto;

	@include mobile {
		width: 85vw;
		height: 40vh;
	}

	@include tablet {
		width: 85vw;
	}

	.refreshButton {
		margin-top: 0.9375rem;

		color: $fadedLigherBlue;

		font-size: 1.75rem;
		font-weight: bold;

		cursor: pointer;
		transition-duration: 0.2s;

		&:hover {
			color: white;

			transform: scale(1.2);
		}
	}
}
