.writerContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 50vw;
	height: 250px;

	margin: 0px auto;

	.wordsList {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		user-select: none;
		justify-content: space-between;

		.word {
			display: flex;
			font-size: 20px;

			.cursor {
				display: inline-block;
				background: lime;
				line-height: 20px;

				margin-top: 1px;

				-webkit-animation: blink 1s infinite;
				width: 1px;
				height: 20px;
				margin-right: -1px;

				@-webkit-keyframes blink {
					0% {
						background: transparent;
					}
					50% {
						background: #fff;
					}
					100% {
						background: transparent;
					}
				}
			}

			.letter {
				&.gray {
					color: #4c4c4c;
				}

				&.green {
					color: #c7c7c7;
				}

				&.red {
					color: red;
				}
			}
		}
	}
}
