@use "../../shared/styles/" as *;

.header {
	grid-row: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 4.6875rem;

	color: white;
	background: $darkBlue;

	font-size: 2.1875rem;

	text-align: center;
	user-select: none;

	span {
		transition-duration: 0.2s;

		&:hover {
			transform: scale(1.05);
		}
	}
}
