@use "../../../shared/styles/" as *;

.keyboard {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;

	width: 50vw;

	margin: 0 auto;

	color: white;

	animation: slideUp 0.65s ease-in-out;

	.row {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
}
