@use "../../shared/styles/" as *;

.footer {
	grid-row: 5;

	display: flex;
	justify-content: center;
	align-items: center;

	background: $darkBlue;
	color: white;

	height: 3.4375rem;

	a {
		color: $fadedLigherBlue;

		font-size: 0.9375rem;
		font-weight: bold;

		text-decoration: none;
		transition-duration: 0.5s;

		&:hover {
			color: white;
		}
	}
}
