@use "./shared/styles/" as *;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
	font-family: "Ubuntu" !important;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	padding: 0px;
	margin: 0px;

	background: $lighterBlue;

	font-size: 16px;

	overflow: hidden;
}

.App {
	display: grid;
	grid-template-rows: 75px 45px 275px auto 55px;
	row-gap: 45px;
	// display: flex;
	// flex-direction: column;
	// justify-content: space-between;
	height: 100vh;
}
