.cursor {
	display: inline-block;
	background: lime;
	line-height: 1.25rem;

	margin-top: 0.125rem;

	-webkit-animation: blink 0.75s infinite;
	width: 0.125rem;
	height: 1.5625rem;
	margin-right: -0.0625rem;

	@-webkit-keyframes blink {
		0% {
			background: transparent;
		}
		50% {
			background: #fff;
		}
		100% {
			background: transparent;
		}
	}
}
