.cursor {
	display: inline-block;
	background: lime;
	line-height: 20px;

	margin-top: 1px;

	-webkit-animation: blink 1s infinite;
	width: 1px;
	height: 25px;
	margin-right: -1px;

	@-webkit-keyframes blink {
		0% {
			background: transparent;
		}
		50% {
			background: #fff;
		}
		100% {
			background: transparent;
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100;
	}
}
