@use "../../../shared/styles/" as *;

.results {
	grid-row: 2/5;

	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

	width: 50vw;

	border-radius: 0.3125rem;
	padding: 0rem;
	padding-bottom: 2.1875rem;
	margin-left: auto;
	margin-right: auto;

	color: white;
	background: $darkBlue;

	font-size: 1.75rem;
	text-align: center;

	animation: slideUp 0.5s ease-in-out;

	@include mobile {
		width: 90vw;
	}

	h2 {
		width: 100%;

		padding: 0.9375rem 0rem;
		border-top-left-radius: 0.3125rem;
		border-top-right-radius: 0.3125rem;

		background: $fadedLigherBlue;
	}
	.row {
		display: flex;

		margin-bottom: 1.5625rem;
		gap: 1.5625rem;
	}

	.column {
		display: flex;
		flex-direction: column;

		gap: 0.625rem;

		span {
			margin: 0.3125rem;
		}
	}

	.value {
		color: #6683c3;

		&.correct {
			color: #609966;
		}

		&.wrong {
			color: #e96479;
		}
	}

	.resetButton {
		padding: 0.5rem 3.3rem;
		border: none;
		border-radius: 0.625rem;
		margin-top: 1.5625;

		color: white;
		background: $lighterBlue;

		font-size: 1.25rem;

		cursor: pointer;
		transition-duration: 0.2s;

		&:hover {
			transform: scale(1.1);
		}
	}
}
